$color-text-dark: #0c0b0b;
$color-black: #000;
$color-white: #fff;

.color {
    color: #06050a;
    color: #3c3c3c;
    color: #172740;
    color: #606060;
    color: #4f4f4f;
    color: #241e20;
    color: #E5e8e8;
    color: #Eaeaea;
    color: #8db2c8;
    color: #C4c4c4;
    color: #Bbc5cc;
    color: #a2aeb6;
}