.criteria {
    padding: 50px 0;
    background: #06050a;

    .container {
        @media(min-width:1800px) {
            max-width: 1760px;
        }
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @media(max-width:991px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .w-card {
            padding: 0 25px;
            display: flex;
            border-right: 1px dashed #809fce;

            @media(max-width:991px) {
                margin-bottom: 40px;
                border: none;
            }

            .image {
                margin-right: 10px;
            }

            .text {
                h4 {
                    color: #809fce;
                    font-size: 22px;
                    padding-bottom: 10px;
                }

                p {
                    color: #cac5c6;
                }

                a {
                    display: inline-block;
                    margin-top: 15px;
                    color: #83a7c8;

                    &:hover {
                        color: #626172;
                    }
                }
            }
        }
    }
}

.pro-tech-f {
    padding: 150px 0;

    @media(max-width:991px) {
        padding: 80px 0;
    }

    .container {
        @media(min-width: 1600px) {
            max-width: 1540px;
        }
    }

    .top {
        position: relative;
        padding-bottom: 100px;
        border-bottom: 2px solid #62617260;

        .line {
            width: 80px;
            border: 2px solid #e09b33;
            box-shadow: 0px 3px 5px 0px #000;
            margin-bottom: 50px;
        }
    }

    .bottom {
        padding-top: 20px;
        color: #474747;

        h6 {
            font-size: 18px;
            text-decoration: underline;
        }

        ul {
            padding: 0;
            padding-top: 10px;
        }
    }
}

.pro-tech-s {
    padding: 150px 0;
    background: #241e20;
    color: #fff !important;

    @media(max-width:991px) {
        padding: 80px 0;
    }

    .line {
        width: 80px;
        border: 2px solid #6b6b6b;
        box-shadow: 0px 3px 5px 0px #000;
        margin-bottom: 50px;
    }
}

.pro-tech-t {
    padding: 150px 0;
    background: #c4c4c4;

    @media(max-width:991px) {
        padding: 80px 0;
    }

    .top {
        position: relative;
        padding-bottom: 50px;
        border-bottom: 2px solid #62617260;

        .line {
            width: 80px;
            border: 2px solid #e09b33;
            box-shadow: 0px 3px 5px 0px #000;
            margin-bottom: 50px;
        }
    }

    .bottom {
        padding-top: 50px;

        .blue {
            color: #3361a7;

        }
    }
}


.latest-case {
    padding: 150px 0;

    @media(max-width:991px) {
        padding: 80px 0;
    }

    .line {
        width: 80px;
        border: 2px solid #6b6b6b;
        box-shadow: 0px 3px 5px 0px #000;
        margin-bottom: 30px;
    }

    .bottom {
        margin-top: 30px;
        position: relative;

        &::after {
            z-index: -1;
            position: absolute;
            content: '';
            left: 0;
            width: 100%;
            height: 20%;
            top: 50%;
            transform: translateY(-50%);
            background: url(../images/tile-bg.png);
        }

        .m-wrap {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px;

            @media(max-width:991px) {
                grid-template-columns: repeat(1, 1fr);
            }

            .b-card {
                border: 1px solid #000;
                border-radius: 5px;
                background: #fff;
                box-shadow: 0px 3px 5px 0px #00000060;
                margin-bottom: 15px;

                .top {
                    padding: 20px;

                    h4 {
                        padding-top: 50px;
                    }

                    .version {
                        display: inline-block;
                        padding: 20px 0;
                    }
                }
            }
        }
    }
}