/*=== abstracts css start === */
@font-face {
  font-family: "Cilo";
  src: url(../fonts/ClioRegular.otf);
}
.color {
  color: #06050a;
  color: #3c3c3c;
  color: #172740;
  color: #606060;
  color: #4f4f4f;
  color: #241e20;
  color: #E5e8e8;
  color: #Eaeaea;
  color: #8db2c8;
  color: #C4c4c4;
  color: #Bbc5cc;
  color: #a2aeb6;
}

/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: "Literata", serif;
}

.heading {
  color: #3c3c3c;
  font-size: 40px;
  padding-bottom: 10px;
}
.heading.blue {
  color: #183c6f;
}
.heading.case {
  color: #2f6d76;
}

.sub-heading {
  color: #172740;
  font-size: 20px;
  padding-bottom: 30px;
}

.paratype-a {
  color: #6b6b6b;
}

.paratype-b {
  color: #e8e8e8;
}

/*===// end of base css === */
/*=== layouts css start === */
.header {
  background: #06050a;
  padding: 20px 0;
  color: #fff;
}
@media (min-width: 1600px) {
  .header .container {
    max-width: 1540px;
  }
}
.header .navbar .navbar-nav .nav-link {
  color: #fff;
  text-transform: uppercase;
}
.header .navbar .navbar-nav .nav-link:hover {
  color: #8db2c8;
}
.header .navbar .end-round {
  border: 3px solid #1867af;
  padding: 0 15px;
  border-radius: 25px;
}
.header .navbar .end-round .lang {
  display: inline-block;
  border-right: 1px solid #8db2c8;
  padding: 5px;
}

/*===// end of layouts css === */
/*=== components css start === */
.banner {
  min-height: 840px;
  background: url(../images/banner-bg.png) no-repeat left bottom/cover;
  padding-top: 150px;
  color: #fff;
}
.banner .container {
  max-width: 1220px;
}
.banner h1 {
  font-family: "Cilo";
  font-size: 70px;
  color: #f2f2f3;
}
.banner p {
  color: #787884;
  font-family: "Cilo";
  font-size: 20px;
}

.criteria {
  padding: 50px 0;
  background: #06050a;
}
@media (min-width: 1800px) {
  .criteria .container {
    max-width: 1760px;
  }
}
.criteria .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 991px) {
  .criteria .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.criteria .wrapper .w-card {
  padding: 0 25px;
  display: flex;
  border-right: 1px dashed #809fce;
}
.criteria .wrapper .w-card .image {
  margin-right: 10px;
}
.criteria .wrapper .w-card .text h4 {
  color: #809fce;
  font-size: 22px;
  padding-bottom: 10px;
}
.criteria .wrapper .w-card .text p {
  color: #cac5c6;
}
.criteria .wrapper .w-card .text a {
  color: #83a7c8;
}
.criteria .wrapper .w-card .text a:hover {
  color: #626172;
}

.pro-tech-f {
  padding: 150px 0;
}
@media (min-width: 1600px) {
  .pro-tech-f .container {
    max-width: 1540px;
  }
}
.pro-tech-f .top {
  position: relative;
  padding-bottom: 100px;
  border-bottom: 2px solid rgba(98, 97, 114, 0.3764705882);
}
.pro-tech-f .top .line {
  width: 80px;
  border: 2px solid #e09b33;
  box-shadow: 0px 3px 5px 0px #000;
  margin-bottom: 50px;
}
.pro-tech-f .bottom {
  padding-top: 20px;
  color: #474747;
}
.pro-tech-f .bottom h6 {
  font-size: 18px;
  text-decoration: underline;
}
.pro-tech-f .bottom ul {
  padding: 0;
  padding-top: 10px;
}

.pro-tech-s {
  padding: 150px 0;
  background: #241e20;
  color: #fff !important;
}

.pro-tech-t {
  padding: 150px 0;
  background: #c4c4c4;
}
.pro-tech-t .top {
  position: relative;
  padding-bottom: 50px;
  border-bottom: 2px solid rgba(98, 97, 114, 0.3764705882);
}
.pro-tech-t .top .line {
  width: 80px;
  border: 2px solid #e09b33;
  box-shadow: 0px 3px 5px 0px #000;
  margin-bottom: 50px;
}
.pro-tech-t .bottom {
  padding-top: 50px;
}
.pro-tech-t .bottom .blue {
  color: #3361a7;
}

.latest-case {
  padding: 150px 0;
}
.latest-case .bottom {
  margin-top: 30px;
  position: relative;
}
.latest-case .bottom::after {
  z-index: -1;
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 20%;
  top: 50%;
  transform: translateY(-50%);
  background: url(../images/tile-bg.png);
}
.latest-case .bottom .m-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.latest-case .bottom .m-wrap .b-card {
  border: 1px solid #000;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3764705882);
  margin-bottom: 15px;
}
.latest-case .bottom .m-wrap .b-card .top {
  padding: 20px;
}
.latest-case .bottom .m-wrap .b-card .top h4 {
  padding-top: 50px;
}
.latest-case .bottom .m-wrap .b-card .top .version {
  display: inline-block;
  padding: 20px 0;
}

/*===// end of components css === *//*# sourceMappingURL=style.css.map */